@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0d192b;
}

.d-none {
  display: none;
}

body {
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 18px;
}

.nft-card {
  padding: 1.5rem 1.25rem;
  background-color: #14253e;
  max-width: 18.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nft-card__line {
  border-top: 1px solid #2f415b;
  border-bottom: 0;
}

.nft-card__avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}

.nft-card__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.nft-card__author p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #8bacda;
}

.nft-card__author .nft-card__link {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.nft-card__author .nft-card__link:hover {
  color: #00fff7;
}

.nft-card__title,
.nft-card__text {
  margin: 0;
}

.nft-card__title,
.nft-card__text,
.nft-card__details,
.nft-card__line {
  margin-bottom: 0.9rem;
}

.nft-card__title {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.nft-card__title:hover {
  color: #00fff7;
}

.nft-card__text {
  color: #8bacda;
  font-weight: 300;
  line-height: 1.6;
  font-size: 0.9rem;
}

.nft-card__content {
  margin: 1.2rem 0 0 0;
}

.nft-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nft-card__price img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.45rem;
}

.nft-card__price p {
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
  color: #00fff7;
}

.nft-card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nft-card__time img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.4rem;
}

.nft-card__time p {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: #8bacda;
}

.nft-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-card__img {
  border-radius: 1rem;
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nft-card__img-container {
  position: relative;
  cursor: pointer;
}

.img-hover {
  border-radius: 1rem;
  width: 16rem;
  height: 16rem;
  background-color: rgba(0, 255, 247, 0.521);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.view-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.nft-card__img-container .img-hover:hover {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.main {
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */