.nft-card__img {
	@include img-size;
	margin: 0 auto;
	transition: all 1s ease-in-out;
}

.nft-card__img-container {
	position: relative;
}

.img-hover {
	@include img-size;
	background-color: $cyanHover;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	display: flex;
	transition: all 1s ease-in-out;
}

.view-icon {
	align-self: center;
	justify-self: center;
	margin: 0 auto;
}

.nft-card__img-container .img-hover:hover {
	opacity: 1;
	transition: all 1s ease-in-out;
}

