.nft-card__img {
	@include img-size;
	margin: 0 auto;
	transition: all 1s ease-out;
}

.nft-card__img-container {
	position: relative;
}

.img-hover {
	@include img-size;
	background-color: $cyanHover;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	display: flex;
}

.view-icon {
	align-self: center;
	justify-self: center;
	margin: 0 auto;
}

.nft-card__img-container + .img-hover:hover {
	opacity: 1;
}

/* 
    To solve the hover effect with the view icon, with .nft-card__img-wrapper I'm
    positioning .img-hover over the .nft-card__img
    .view-icon is positioned in the middle of .img-hover using flexbox
    With JS, on mouseover it toggle d-none to show the color and the view-icon

	That didn't work. So, we need to have a container for both the img and
	the icon. We can use a container with position relative,  
	Inside it, 
	
*/

/* .nft-card__img-wrapper {
	position: relative;
}

.view-icon {
	align-self: center;
	justify-self: center;
	margin: 0 auto;
	z-index: 20;
	opacity: 100;
	transition: all 1s ease-out;
}

.img-hover {
    @include img-size;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: all 1s ease-out;
}
 */
